.file-upload {
  display: flex;
  align-items: center;
}

.file-upload input[type="file"] {
  display: none;
}

.file-upload-label {
  margin: 0 10px;
  padding: 8px 12px;
  background-color: transparent;
  color: #333;
  border-radius: 4px;
  cursor: pointer;
  min-width: 250px;
  text-align: center;
}

.file-upload-button {
  min-width: 150px;
}