.file-upload {
  display: flex;
  align-items: center;
  width: 100%;
}

.file-upload input[type="file"] {
  display: none;
}

label.file-upload-label {
  font-size: 0.875rem;
  background-color: transparent;
  color: var(--bs-card-color);
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  border-top-left-radius: 0.375rem !important;
  border-bottom-left-radius: 0.375rem !important;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

label.file-upload-label p {
  margin-bottom: 0px;
  position: relative;
  top: 1px;
}

.file-upload-label.disabled {
  color: #6c757d; /* Adjust the color to match your desired disabled style */
  cursor: not-allowed;
}

.file-upload-button svg {
  position: relative;
  bottom: 1px;
  height: 20px;
}

