<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Horizontal">
    <LayoutAnchorablePane DockWidth="274" FloatingWidth="276" FloatingHeight="586" FloatingLeft="317" FloatingTop="505">
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="project-tree" IsSelected="True" ContentId="project-tree" FloatingLeft="317" FloatingTop="505" FloatingWidth="276" FloatingHeight="586" CanClose="True" LastActivationTimeStamp="05/02/2023 15:01:42" />
    </LayoutAnchorablePane>
    <LayoutDocumentPane DockWidth="1.0367347337949715*" />
    <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="274">
      <LayoutAnchorablePane DockWidth="274" FloatingWidth="276" FloatingHeight="586" FloatingLeft="1243" FloatingTop="518">
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="properties" IsSelected="True" ContentId="properties" FloatingLeft="1243" FloatingTop="518" FloatingWidth="276" FloatingHeight="586" LastActivationTimeStamp="05/02/2023 15:01:38" />
      </LayoutAnchorablePane>
    </LayoutAnchorablePaneGroup>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden />
</LayoutRoot>