[data-bs-theme=light] #root {
  background-image: url("/background.jpg");
  background-size: contain;
}

[data-bs-theme=dark] #root {
  background-image: url("/background-dark.jpg");
  background-size: contain;
}
