
name: Linter

on:
  push:
    branches:
      - '**'
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.2
      - name: Setup .NET SDK # detected from global.json
        uses: actions/setup-dotnet@v2.1.0
      - name: Add Problem Matcher for dotnet-format
        uses: xt0rted/dotnet-format-problem-matcher@v1.2.0
      - name: Lint
        run: dotnet format ./src/QueryPressure.sln --verify-no-changes --verbosity detailed
